@-webkit-keyframes title-fade {
  100% {
    opacity: 1;
  }
}

@keyframes title-fade {
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#intro-wrapper {
  height: 100vw;

  background: url(https://static.pexels.com/photos/6676/landscape-sunset-blue-sunrise.jpeg) no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
}

#name-flex-container {
  display: flex;
  align-items: center;
}

#name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#center-wrapper {
  display: flex;
  justify-content: center;
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 75em;
}

.image-wrapper {
  background-color: black;

  width: 18.75em;
  height: 18.75em;
}

.preview-wrapper {
  width: 18.75em;
  height: 18.75em;

  opacity: 1;
  transition-duration: 0.7s;

  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  text-align: center;
  margin-top: -9.375em;
  color: white;
  opacity: 0;
}

.image-wrapper:hover .preview-wrapper {
  opacity: 0.2;
}

.image-wrapper:hover .title {
  animation: title-fade 2s ease;

  animation-fill-mode: forwards;
}

#biography-flex-wrapper {
  height: 50vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#biography-wrapper {
  width: 75em;
}

@media (max-width: 75em) {
  #content-wrapper {
    max-width: 56.25em;
  }
}

@media (max-width: 56.25em) {
  #content-wrapper {
    max-width: 37.5em;
  }
}

@media (max-width: 37.5em) {
  #content-wrapper {
    max-width: 18.75em;
  }
}
