@-webkit-keyframes title-fade {
  100% {
    opacity: 1;
  }
}

@keyframes title-fade {
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, p, .title, .button {
  color: white;
  text-shadow: .1vw .1vh black;
}

h1, h2, h4, #button-flex-wrapper {
  font-family: "Josefin Sans", sans-serif;
}

h3, p, .title {
  font-family: "Alegreya", serif;
}

#intro-wrapper {
  height: 100vh;
  width: 100vw;

  background: url(../assets/backgrounds/6_bg.jpg) no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
}

#name-flex-wrapper, #biography-flex-wrapper {
  display: flex;
  align-items: center;
}

#name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 600;
  font-size: 4vw;

  letter-spacing: .1vw;`
}

h2 {
  font-size: 2.7vw;
}

h3 {
  font-size: 1.6vw;
  font-style: italic;
}

#content-wrapper {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100vw;
}

#content-wrapper div {
  width: 25vw;
  height: 25vh;
}

.image-wrapper {
  opacity: 1;
}

.image-wrapper:hover {
  opacity: 0.5;
  transition-duration: 0.7s;
}

.image-wrapper:hover .title{
  animation: title-fade 2s ease;

  animation-fill-mode: forwards;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  opacity: 0;

  font-size: 1.5vw;
}

#biography-flex-wrapper {
  height: 70vh;
  width: 100vw;

  background: url(../assets/backgrounds/6_bg.jpg) no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#biography-wrapper {
  width: 50vw;
}

h4 {
  font-size: 1.7vw;
  padding-bottom: .8vw;

  font-weight: 600;
}

section p {
  font-size: 1.3vw;
  line-height: 2vw;
}

#button-flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding-top: 1.8vw;
}

.button {
  width: 7vw;
  height: 2.5vw;
  background-color: black;

  font-size: .8vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
