@-webkit-keyframes title-fade {
  100% {
    opacity: 1;
  }
}

@keyframes title-fade {
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p, .title {
  color: white;
}

h1, h3 {
  font-family: "Josefin Sans", sans-serif;
}

h2, p, .title {
  font-family: "Alegreya", serif;
}

#intro-wrapper {
  height: 100vh;
  width: 100vw;

  background: url(http://c2.staticflickr.com/4/3781/9135832665_352725c7a2_k.jpg) no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
}

#name-flex-container, #biography-flex-wrapper {
  display: flex;
  align-items: center;
}

#name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 600;
  font-size: 5vw;
  
  letter-spacing: .1vw;
  
  font-style: italic;
}

h2 {
  font-size: 2vw;
}

#content-wrapper {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 100vw;
}

#content-wrapper div {
  width: 25vw;
  height: 25vh;
}

#img1 {
  background: url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Rock_pattern.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img2 {
  background: url(https://static.pexels.com/photos/2988/pattern-triangles.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img3 {
  background: url(https://static.pexels.com/photos/5294/pattern-abstract-honeycomb-metal.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img4 {
  background: url(https://upload.wikimedia.org/wikipedia/commons/8/84/Oakleaf_granite_stone_pattern_on_garden_fountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img5 {
  background: url(https://static.pexels.com/photos/1043/red-building-industry-bricks.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img6 {
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/10/HK_Central_Landmark_mall_shop_wall_marble_pattern_texture_Nov-2013_006.JPG) no-repeat center center fixed;
  background-size: cover;
}

#img7 {
  background: url(https://upload.wikimedia.org/wikipedia/commons/8/84/Oakleaf_granite_stone_pattern_on_garden_fountain.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img8 {
  background: url(https://static.pexels.com/photos/1043/red-building-industry-bricks.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img9 {
  background: url(https://static.pexels.com/photos/2988/pattern-triangles.jpg) no-repeat center center fixed;
  background-size: cover;
}

#img10 {
  background: url(https://static.pexels.com/photos/5294/pattern-abstract-honeycomb-metal.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*
.preview-wrapper {  
opacity: 0.2;
transition-duration: 0.7s;

background-repeat: no-repeat;
background-position: center center;
}
*/

/*
.title {
text-align: center;
opacity: 0;
}

.image-wrapper:hover .preview-wrapper {
opacity: 1;
}

.image-wrapper:hover .title {
animation: title-fade 2s ease;

animation-fill-mode: forwards;
}
*/

#biography-flex-wrapper {
  height: 70vh;
  width: 100vw;

  background: url(http://c2.staticflickr.com/8/7592/16888464777_26005ceb21_k.jpg) no-repeat center center fixed;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

#biography-wrapper {
  width: 75em;
}

h3 {
  font-size: 1em;
}

section p {
  font-size: 1em;
  line-height: 1.5em;
}
