#blurb-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1.5vw;
  padding-bottom: 5vw;
}

#about-flex-wrapper div {
  display: flex;
  flex-direction: column;
}

#img-about-header, .work-intro {
  height: 50vw;
  width: 97vw;
}

#about-flex-wrapper p {
  font-family: 'Neuton', serif;
  font-weight: 200;
  font-size: 1.8vw;
  line-height: 2.3vw;
  width: 50vw;
}

#content-flex-wrapper {
  padding-top: 1.5vw;
  border-top: 0.01vw solid #dbdbdb;
}

section ul li {
  display: inline-block;
  padding: 5vw 2vw 1.5vw 0;
}

p a {
  font-weight: 400;
}
