body, html { padding:0px; margin:0px; }


.buttons button {
  font-size: 24px;
  padding:5px;
  border:1px solid #999;
  background-color:white;
}

.buttons button.selected {
  background-color: gray;
}

#yellow {
    background-color: yellow;
}

#pink {
    background-color: pink;
}

#blue {
    background-color: deepskyblue;
}

#black {
    color: white;
    background-color: black;
}

#brown {
    background-color: saddlebrown;
}

#red {
    background-color: red;
}

#green {
    background-color: forestgreen;
}
