a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    z-index: 3;
}

nav ul {
    padding-left: 60px;
    top: 50%;
    -webkit-transform: translateY(110%);
    -ms-transform: translateY(110%);
    transform: translateY(110%);
}

nav ul li {
    border-radius: 50px/50px;
    border:solid 3px white;
    width: 15px;
    height: 15px;
    opacity: 0.5;
}

nav ul li:hover {
    border-radius: 50%;
    border:solid 3px white;
    width: 15px;
    height: 15px;
    background-color: white;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 1;
}

nav ul li:not(:last-child) {
    margin-bottom: 80%;
    margin-top: 80%;
}

#frostedGlass {
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    z-index: 2;
    background-color: white;
    opacity: 0.3;
    -webkit-filter: blur(10px);
    filter: blur(10px)
}

.poemWrapper {
    opacity: 0;
    -webkit-transition: opacity;
    transition: opacity 1s ease-out;
    z-index: 1;
}

.onPage {
    opacity: 1;
    -webkit-transition: opacity;
    transition: opacity 1s ease-in;
    z-index: 1;
}

/*
.offPage {
    opacity: 0;
    -webkit-transition: opacity;
    transition: opacity 1s ease-out;
    z-index: 1;
}
*/

#poemBg1 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg2 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg3 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg4 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg5 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg6 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg7 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#poemBg8 {
    background: url(assets/bokeh-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

div div {
    clear: both;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    color: black;
    padding: 100px 0 100px 0px;
    color: white;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.45em;
    margin-bottom: 25px;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
    padding-bottom: 15px;
}

.pullQuote {
    font-size: 1.5em;
}
